body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #398a56, #2ecc71);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(135deg, #7ecfb0 0%, #6fc9a2 50%, #5fc49a 100%);
}

p {
  color: #808080;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Poppins", sans-serif;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a:hover {
  text-decoration: none !important;
}

.content {
  padding: 7rem 0;
}

h2 {
  font-size: 20px;
}

.label {
  color: #808080;
}

.form-block {
  background: #ffffff !important;
  padding: 60px;
  border-radius: 12px;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: -4rem;
}

.form-group label {
  color: #808080;
}

.form-group .form-control {
  color: #808080;
}

.form-title {
  color: #808080;
}

@media (max-width: 991.98px) {
  .form-block {
    padding: 30px;
  }

  body {
    padding: 15px;
  }
}

@media (max-width: 991.98px) {
  .content .bg {
    height: 500px;
  }
}

.content .contents,
.content .bg {
  width: 50%;
}
@media (max-width: 1199.98px) {
  .content .contents,
  .content .bg {
    width: 100%;
  }
}

.content .contents .form-group,
.content .bg .form-group {
  position: relative;
}
.content .contents .form-group label,
.content .bg .form-group label {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}


.content .contents .form-group input,
.content .bg .form-group input {
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 10px;
  font-size: 12px;
  padding-left: 40px;
  width: 100%;
  box-sizing: border-box; 
}

/* icon */
.input-with-icon {
  position: relative;
  width: 100%;
}

.input-with-icon .icon-user,
.input-with-icon .icon-lock {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #808080;
  pointer-events: none;
}

.input-with-icon input {
  width: 100%;
  padding: 15px 15px 15px 45px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 14px;
  background: transparent;
  color: #808080;
}

.input-with-icon label {
  position: absolute;
  top: 50%;
  left: 45px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #b3b3b3;
  pointer-events: none;
  transition: 0.2s ease all;
}



.content .contents .form-group.first,
.content .bg .form-group.first {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.content .contents .form-group.last,
.content .bg .form-group.last {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.content .contents .form-control,
.content .bg .form-control {
  border: none;
  padding: 0;
  font-size: 20px;
  border-radius: 0;
}
.content .contents .form-control:active,
.content .contents .form-control:focus,
.content .bg .form-control:active,
.content .bg .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.content .bg {
  background-size: cover;
  background-position: center;
}

.content a {
  color: #888;
  text-decoration: underline;
}

.content .btn {
  height: 54px;
  padding-left: 30px;
  padding-right: 30px;
}

.content .forgot-pass {
  position: relative;
  top: 2px;
  font-size: 14px;
}

.content .btn-pill {
  border-radius: 30px;
}



